<!doctype html>
<html lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>


    <title>Monster Inc.</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!------ Include the above in your HEAD tag ---------->
    <style>
        @media (max-width: 576px) {
            div#vii1 {
                order: 1;
            }

            div#vii2 {
                order: 2;
            }
        }
    </style>
    {#    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>#}
    {#    <script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>#}
    {#    <script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>#}
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon"
          href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"/>
    <link rel="mask-icon" type=""
          href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
          color="#111"/>
    <link rel="canonical" href="https://codepen.io/rozklad/pen/qVObdP"/>
    <style class="cp-pen-styles">body {
        background-color: #f3f5f7;
    }

    .card {
        background-color: #fff;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        height: 375px;
        border-radius: 10px;
        overflow: hidden;
    }

    .card .about {
        height: 150px;
        padding: 20px;
        box-sizing: border-box;
    }

    .card .about h3,
    .card .about .lead {
        font-weight: 300;
        margin: 0;
    }

    .card .about h3 {
        font-size: 24px;
    }

    .card .about .lead {
        color: #aaa;
    }

    .tooltip-placeholder {
        background-color: #fff;
        border-radius: 4px;
        font-family: "Iranian Sans" !important;
        color: #aaa;
        font-size: 20px;
        position: fixed;
        padding: 4px 0;
        display: none;
        z-index: 2;
    }

    </style>
</head>


<body>

<div class="container main-section">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 image-section">
            <img src="https://wpblink.com/sites/default/files/wallpaper/movie/72445/monsters-inc-wallpapers-hd-72445-5946824.png">
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <form action="{% url 'search page' employer_id%}" method="post"> {% csrf_token %}
             <input type="text" name="search keyword" id="search keyword">
              <label for="search keyword"> search keyword </label><br>



              <input type="submit" value="Search">
            </form>
        </div>
        <div style="margin-top: 10px" class="col">
            <div class="row">
                <div id="vii2" class="col-lg-9 col-md-8 col-sm-7 col-xs-12 float-left">
                    <div class="row">
                        <div class="col-12">
                            <div style="margin-top: 20px" class="col-12 row profile-left-section">
                                <div class="col-12 profile-header-section1 float-right text-right">
                                    <h1>درباره ما</h1>
                                    <div class="border"></div>
                                </div>

                                <div class="col-12 text-right" style="direction: rtl">
                                    <p style="text-align: justify ">{{ employer.long_description }}</p>
                                </div>


                                {% for l in employee_list %}

                                    <div class="col-12 profile-header-section1 float-right text-right">
                                    <li>{{ l.name }}</li>
                                        <div class="border"></div>
{#                                    <div class="column">#}
                                        <div class="col-12 profile-header-section1 float-right text-righ" style="">
                                            <img src="\website{{ l.image.url }}" alt="John" style="">
                                            <div class="container1">
                                                <h2>{{ l }}</h2>
                                                <p class="title">{{ l}}</p>
                                                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                                                <p>example@example.com</p>
                                                <p>
                                                    <button class="button"><a style="color: #FFFFFF"
                                                                              href="{% url 'employee profile' %}">Contact</a></button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
{#                                </div>#}

                            </div>
                        </div>
                        <div class="col-12">

                            <style>
                                html {
                                    box-sizing: border-box;
                                }

                                *, *:before, *:after {
                                    box-sizing: inherit;
                                }

                                .column {
                                    box-shadow: 0px 0px 0px 0px;
                                    float: left;
                                    width: 33.33%;
                                    margin-bottom: 16px;
                                    padding: 0 8px;
                                }

                                .column {
                                    /*border: 1px solid #f4511e;*/
                                    /*border-radius:0 !important;*/
                                    transition: box-shadow 0.5s;
                                }

                                .column:hover {
                                    box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
                                }

                                @media screen and (max-width: 650px) {
                                    .column {
                                        width: 100%;
                                        display: block;
                                    }
                                }

                                .card {
                                    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
                                    text-align: center;
                                }

                                .card > img {
                                    border-radius: 50%;
                                    /*width: 200px;*/
                                    /*height: 200px;*/
                                    width: 70%;
                                    height: 70%;
                                }

                                .card > .container1 {
                                    overflow: auto;

                                }

                                .container1 {
                                    padding: 0 16px;
                                }

                                .container1::after, .row::after {
                                    content: "";
                                    clear: both;
                                    display: table;
                                }

                                .title {
                                    color: grey;
                                }

                                .button {
                                    border: none;
                                    outline: 0;
                                    display: inline-block;
                                    padding: 8px;
                                    color: white;
                                    background-color: #000;
                                    text-align: center;
                                    cursor: pointer;
                                    width: 100%;
                                }

                                .button:hover {
                                    background-color: #555;
                                }
                            </style>

                            <div class="row" style="">
                                {% for empoff in employer.empoff_set.all %}
                                    <div style="height: 400px;" class="container col-lg-6 col-md-12">
                                        <div class="column">
                                            <div class="card container" style="align-items: center">
                                                <img src="http://icons-for-free.com/free-icons/png/512/532707.png"
                                                     alt="web developer"
                                                     style="margin-top: 15px; width: 100px; height: 100px">
                                                <div style="height: 200px" class="container1" style="">
                                                    <h2>{{ empoff.title }}</h2>
                                                    <p class="title">{{ empoff.position }}</p>
                                                    <p data-toggle="modal" data-target="#rateOffModal{{ empoff.pk }}" class="small btn-outline-success">امتیاز: {{ empoff.rate }} از {{ empoff.vote_count }} نفر</p>

                                                    <p class="small">{{ empoff.short_description }}</p>
                                                </div>

                                                <button data-toggle="modal" data-target="#offDescModal{{ empoff.pk }}"
                                                        style="width: 250px"
                                                        class="align-bottom button">اطلاعات بیشتر
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="vii1" class="col-lg-3 col-md-4 col-sm-5 col-xs-12 user-profile-part float-right">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12 user-image text-center">
                            <img src="http://online.focusky.com/ndln/npcf/files/extfiles/ext_0201642217399977.png"
                                 class="rounded-circle img-fluid img-thumbnail mx-auto" alt="user_img">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center follow">

                            <ul class="list-group text-center">
                                <li class="list-group-item border-success"><b>{{ employer.employer_name }}</b></li>
                                <li class="list-group-item border-success small">{{ employer.short_description }}
                                </li>
                                <li class="list-group-item border-success small">{{ employer.employer_website }}
                                </li>
                                <li class="list-group-item border-success small">{{ employer.employer_address }}</li>
                            </ul>
                            <div class="border align-baseline"></div>
                            <div>
                                <p class="small"> نمودار کیفی {{ employer.employer_name }}</p>
                                <div id="tooltip" class="tooltip-placeholder"></div>
                                <canvas id="canvas" width="300" height="200"></canvas>
                                <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
                                <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js'></script>
                                <script>var canvas = document.getElementById("canvas");

                                var gradientBlue = canvas.getContext('2d').createLinearGradient(0, 0, 0, 150);
                                gradientBlue.addColorStop(0, 'rgba(85, 85, 255, 0.9)');
                                gradientBlue.addColorStop(1, 'rgba(151, 135, 255, 0.8)');

                                var gradientHoverBlue = canvas.getContext('2d').createLinearGradient(0, 0, 0, 150);
                                gradientHoverBlue.addColorStop(0, 'rgba(65, 65, 255, 1)');
                                gradientHoverBlue.addColorStop(1, 'rgba(131, 125, 255, 1)');

                                var gradientRed = canvas.getContext('2d').createLinearGradient(0, 0, 0, 150);
                                gradientRed.addColorStop(0, 'rgba(255, 85, 184, 0.9)');
                                gradientRed.addColorStop(1, 'rgba(255, 135, 135, 0.8)');

                                var gradientHoverRed = canvas.getContext('2d').createLinearGradient(0, 0, 0, 150);
                                gradientHoverRed.addColorStop(0, 'rgba(255, 65, 164, 1)');
                                gradientHoverRed.addColorStop(1, 'rgba(255, 115, 115, 1)');

                                var redArea = null;
                                var blueArea = null;

                                var shadowed = {
                                    beforeDatasetsDraw: function (chart, options) {
                                        chart.ctx.shadowColor = 'rgba(0, 0, 0, 0.25)';
                                        chart.ctx.shadowBlur = 40;
                                    },
                                    afterDatasetsDraw: function (chart, options) {
                                        chart.ctx.shadowColor = 'rgba(0, 0, 0, 0)';
                                        chart.ctx.shadowBlur = 0;
                                    }
                                };

                                Chart.plugins.register({
                                    afterEvent: function (chart, e) {
                                        // Hardcoded hover areas

                                        // Red chart
                                        chart.ctx.beginPath();
                                        chart.ctx.moveTo(91, 69);
                                        chart.ctx.lineTo(152, 80);
                                        chart.ctx.lineTo(192, 75);
                                        chart.ctx.lineTo(213, 138);
                                        chart.ctx.lineTo(148, 168);
                                        chart.ctx.lineTo(105, 126);
                                        chart.ctx.fill();
                                        chart.ctx.closePath();

                                        if (chart.ctx.isPointInPath(e.x, e.y)) {
                                            var dataset = window.chart.data.datasets[0];
                                            dataset.backgroundColor = gradientHoverRed;
                                            window.chart.update();
                                            canvas.style.cursor = 'pointer';
                                        } else {
                                            var dataset = window.chart.data.datasets[0];
                                            dataset.backgroundColor = gradientRed;
                                            window.chart.update();
                                            canvas.style.cursor = 'default';
                                        }

                                        // Blue chart
                                        chart.ctx.beginPath();
                                        chart.ctx.moveTo(85, 61);
                                        chart.ctx.lineTo(149, 66);
                                        chart.ctx.lineTo(224, 63);
                                        chart.ctx.lineTo(179, 112);
                                        chart.ctx.lineTo(152, 177);
                                        chart.ctx.lineTo(121, 117);
                                        chart.ctx.fill();
                                        chart.ctx.closePath();

                                        if (chart.ctx.isPointInPath(e.x, e.y)) {
                                            var dataset = window.chart.data.datasets[1];
                                            dataset.backgroundColor = gradientHoverBlue;
                                            window.chart.update();
                                            canvas.style.cursor = 'pointer';
                                        } else {
                                            var dataset = window.chart.data.datasets[1];
                                            dataset.backgroundColor = gradientBlue;
                                            window.chart.update();
                                            canvas.style.cursor = 'default';
                                        }
                                    }
                                });

                                window.chart = new Chart(document.getElementById("canvas"), {
                                    type: "radar",
                                    data: {
                                        labels: ["مالی", "تکنولوژیک", "چابکی", "نشاط", "فضای دوستانه", "نظم"],
                                        datasets: [{
                                            label: "شرکت هیولاها",
                                            data: [80, 59, 30, 81, 60, 100],
                                            fill: true,
                                            backgroundColor: gradientRed,
                                            borderColor: 'transparent',
                                            pointBackgroundColor: "transparent",
                                            pointBorderColor: "transparent",
                                            pointHoverBackgroundColor: "transparent",
                                            pointHoverBorderColor: "transparent",
                                            pointHitRadius: 50,
                                        }]
                                    },
                                    options: {
                                        legend: {
                                            display: false,
                                        },
                                        tooltips: {
                                            enabled: false,
                                            custom: function (tooltip) {
                                                var tooltipEl = document.getElementById('tooltip');
                                                if (tooltip.body) {
                                                    tooltipEl.style.display = 'block';
                                                    if (tooltip.body[0].lines && tooltip.body[0].lines[0]) {
                                                        tooltipEl.innerHTML = tooltip.body[0].lines[0];
                                                    }
                                                } else {
                                                    setTimeout(function () {
                                                        tooltipEl.style.display = 'none';
                                                    }, 500);
                                                }
                                            },
                                        },
                                        gridLines: {
                                            display: false
                                        },
                                        scale: {
                                            ticks: {
                                                maxTicksLimit: 1,
                                                display: false,
                                            }
                                        }
                                    },
                                    plugins: [shadowed]
                                });
                                //# sourceURL=pen.js
                                </script>
                            </div>
                            <div style="margin-top: 15px" class="border align-baseline"></div>

                            <button id="btn-contact"
                                    data-toggle="modal" data-target="#contact"
                                    style="margin-top: 10px"
                                    class="btn btn-outline-primary btn-sm btn-block">نظردهی
                            </button>
                            <button
                                    data-toggle="modal" data-target="#offsModal"
                                    style="margin-top: 10px"
                                    class="btn btn-outline-primary btn-sm btn-block">ویرایش فرصت‌های شغلی
                            </button>
                            <button class="btn btn-outline-success btn-sm btn-block">ارسال پیام</button>
                        </div>
                        <div class="col user-detail-row float-right" style="width: max-content">
                            <div class="col-md-12 col-sm-12 user-detail-section2 float-right"
                                 style="text-align: right">
                                <div class="border align-baseline"></div>
                                <p style="direction: rtl">تعداد رای‌دهندگان:</p>
                                <span>۳۲۰</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="direction: rtl">
            <div style="background-color: #dc3545" class="modal-header">
                <h5 class="modal-title" id="contact">نظر به کارفرما</h5>
                <button style="alignment: inherit" type="button" class="close float-left border-left"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p for="msj">تست</p>
                </div>
                <div class="form-group">
                    <label for="txtFullname">تست</label>
                    <input type="text" id="txtFullname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="txtEmail">تست</label>
                    <input type="text" id="txtEmail" class="form-control">
                </div>
                <div class="form-group">
                    <label for="txtPhone">تست</label>
                    <input type="text" id="txtPhone" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-primary" (click)="openModal()" data-dismiss="modal">تایید
                </button>
            </div>
        </div>
    </div>
</div>
</body>




{% for empoff in employer.empoff_set.all %}

    <div class="modal" id="offDescModal{{ empoff.pk }}" style="direction: rtl" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div style="direction: rtl" class="modal-content">
                <div class="modal-header">
                    <div class="col-11">
                        <h5 style="text-align: right" class="modal-title">{{ empoff.title }}</h5>
                    </div>
                    <div class="col-1">
                        <button style="text-align: left; alignment: left" type="button" class="close float-left"
                                data-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                </div>
                <div style="text-align: right" class="modal-body small">
                    {{ empoff.long_description }}
                </div>
                <div class="modal-footer">
                    <button class="button btn-outline-success" data-toggle="modal"
                            data-target="#offConfirmModal{{ empoff.pk }}" data-dismiss="modal">درخواست استخدام
                    </button>

                </div>
            </div>
        </div>
    </div>

{% endfor %}


{% for empoff in employer.empoff_set.all %}

    <div class="modal" id="offConfirmModal{{ empoff.pk }}" style="direction: rtl" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div style="direction: rtl" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ارسال تقاضای استخدام</h5>
                </div>
                <div style="text-align: right" class="modal-body small">
                    آیا می‌خواهید درخواست شما برا استخدام در فرصت زیر ارسال شود
                    <br>
                    "{{ empoff.title }}"
                </div>
                <div class="modal-footer">
                    <button style="margin-left: 5px" type="button" class="btn btn-outline-secondary" data-toggle="modal"
                            data-target="#offDescModal{{ empoff.pk }}" data-dismiss="modal">خیر
                    </button>
                    <form action="">
                        <input type="submit" class="btn btn-outline-danger btn-block"
                               value="بله">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endfor %}



<div class="modal" id="offsModal" style="direction: rtl" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ویرایش فرصت‌های شغلی</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="list-group">
                        {% for empoff in employer.empoff_set.all %}
                            <span style="text-align: right" class="list-group-item">
                            <span class="small">{{ empoff.title }}</span>
                            <span class="float-left">
                                <button style="font-size: 8px" data-toggle="modal"
                                        data-target="#offModalEdit{{ empoff.pk }}"
                                        class="btn btn-sm btn-outline-primary" data-dismiss="modal">ویرایش</button>
                                <button style="font-size: 8px" data-toggle="modal"
                                        data-target="#offModalDelete{{ empoff.pk }}"
                                        class="btn btn-sm btn-danger" data-dismiss="modal">حذف</button>
                            </span>
                            </span>
                        {% endfor %}


                        <button style="margin-top: 5px" data-toggle="modal" data-target="#offModalAdd"
                                class="btn btn-outline-success btn-sm" data-dismiss="modal">اضافه کردن</button>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">بازگشت</button>
            </div>
        </div>
    </div>
</div>


{% for empoff in employer.empoff_set.all %}

    <div class="modal" id="offModalDelete{{ empoff.pk }}" style="direction: rtl" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div style="direction: rtl" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">حذف فرصد شغلی</h5>
                </div>
                <div style="text-align: right" class="modal-body small">
                    آیا می‌خواهید این فرصت شغلی حذف شود؟
                    <br>
                    "{{ empoff.title }}"
                </div>
                <div class="modal-footer">
                    <button style="margin-left: 5px" type="button" class="btn btn-outline-secondary" data-toggle="modal"
                            data-target="#offsModal" data-dismiss="modal">انصراف
                    </button>
                    <form action="{% url 'delete off' employer_id empoff.pk %}">
                        <input type="submit" class="btn btn-outline-danger btn-block"
                               value="حذف">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

{% for empoff in employer.empoff_set.all %}

    <div class="modal" id="offModalEdit{{ empoff.pk }}" style="direction: rtl" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div style="direction: rtl" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ویرایش فرصت شغلی</h5>
                </div>
                <form method="post" action="{% url 'edit off' employer_id empoff.pk %}">
                    {% csrf_token %}
                    <div style="text-align: right" class="modal-body small">
                        فرصت شغلی خود را ویرایش کنید.
                        <br>
                        <input style="alignment: center;width: 400px" name="title" type="text"
                               value="{{ empoff.title }}">
                        <input style="alignment: center;width: 400px" name="position" type="text"
                               value="{{ empoff.position }}">
                        <input style="alignment: center;width: 400px" name="short_description" type="text"
                               value="{{ empoff.short_description }}">
                        <input style="alignment: center;width: 400px" name="long_description" type="text"
                               value="{{ empoff.long_description }}">
                    </div>
                    <div class="modal-footer">
                        <button style="margin-left: 5px" type="button" class="btn btn-outline-secondary"
                                data-toggle="modal"
                                data-target="#offsModal" data-dismiss="modal">انصراف
                        </button>

                        <input type="submit" class="btn btn-outline-danger btn-block"
                               value="تایید ویرایش">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endfor %}


{% for empoff in employer.empoff_set.all %}

    <div class="modal" id="rateOffModal{{ empoff.pk }}" style="direction: rtl" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div style="direction: rtl" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">امتیاز دهی به فرصت شغلی</h5>
                </div>
                <form method="post" action="{% url 'rate off' employer_id empoff.pk %}">
                    {% csrf_token %}
                    <div style="text-align: right" class="modal-body small">
                        یکی عدد بین ۱ تا ۱۰ وارد کنید.
                        <br>
                        <input style="alignment: center;width: 400px" name="num" type="number" pattern="+(\d{1})$"
                               value="">

                    </div>
                    <div class="modal-footer">
                        <button style="margin-left: 5px" type="button" class="btn btn-outline-secondary"
                                data-toggle="modal"
                                data-target="#offsModal" data-dismiss="modal">انصراف
                        </button>

                        <input type="submit" class="btn btn-outline-danger btn-block"
                               value="ثبت امتیاز">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endfor %}


<div class="modal" id="offModalAdd" style="direction: rtl" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div style="direction: rtl" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">اضافه کردن فرصت شغلی</h5>
            </div>
            <form method="post" action="{% url 'add off' employer_id %}">
                {% csrf_token %}
                <div style="text-align: right" class="modal-body small">
                    لطفا فرصت شغلی جدید خود را وارد کنید
                    <br>
                    <input style="alignment: center;width: 400px" name="title" type="text"
                               value="عنوان">
                        <input style="alignment: center;width: 400px" name="position" type="text"
                               value="محل">
                        <input style="alignment: center;width: 400px" name="short_description" type="text"
                               value="توضیح کوتاه">
                        <input style="alignment: center;width: 400px" name="long_description" type="text"
                               value="توضیح بلند">
                </div>
                <div class="modal-footer">
                    <button style="margin-left: 5px" type="button" class="btn btn-outline-secondary"
                            data-toggle="modal"
                            data-target="#offsModal" data-dismiss="modal">انصراف
                    </button>

                    <input type="submit" class="btn btn-outline-danger btn-block"
                           value="اضافه کردن">
            </form>
        </div>
    </div>
</div>
