<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Hossein</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--generated links-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--Hossein added these links-->
    <link rel="stylesheet" href="{% static 'css/user_homepage.css' %}">
</head>
<body>
<nav class="navbar big-nav navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar" style="background-color: #337ab7"></span>
                <span class="icon-bar" style="background-color: #337ab7"></span>
                <span class="icon-bar" style="background-color: #337ab7"></span>
            </button>
            <div class="navbar-brand">
                <img id="logo" src="{% static 'logo.png' %}">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" id="rightNavbar">
                <li class="active" id="homeButton"><a href="#">خانه</a></li>
                <li class="dropdown dropdown-links">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">صفحه یک<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-buttons"><a href="#">تست یک</a></li>
                        <li class="dropdown-buttons"><a href="#">تست دو</a></li>
                        <li class="dropdown-buttons"><a href="#">تست سه</a></li>
                    </ul>
                </li>
                <li class="dropdown-links"><a href="#">صفحه دو</a></li>
                <li class="dropdown-links"><a href="">صفحه سه</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left" id="leftNavbar" style="text-align: left;">
                <li class="log-in-button" style=""><a href="#" style=""><span class="glyphicon glyphicon-log-in"></span>
                    ورود</a></li>
                <li class="sign-up-button" style=""><a href="#" style="" id="sign-up-id"><span
                        class="glyphicon glyphicon-user"></span> ثبت نام</a></li>

            </ul>
        </div>
    </div>
</nav>


<div class="container" style="float: left">
    <div class="form-links" style="padding: 80px 0 0 100px;margin-top: 100px; width: 45%">
        <table class="table "
               style="width: 75%; border: 1px solid #6ca05e;border-collapse: separate; border-radius: 4px; text-align: right">
            <thead style="">
            <tr>
                <th style="text-align: right; border-bottom: 1px solid #6ca05e; padding-right:30px">حسین آقامحمدی</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-ROW">جستجو میان آگهی‌ها</td>
            </tr>
            <tr>
                <td class="table-ROW"> آگهی‌های متناسب با مهارت‌های شما</td>
            </tr>
            <tr>
                <td class="table-ROW"> مدیریت چت‌ها</td>
            </tr>
            <tr>
                <td class="table-ROW"> آخرین اخبار از صنعت فلان</td>
            </tr>
            <!--<tr>-->
            <!--<td class="table-ROW"> تنظیمات</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="table-ROW"> تنظیمات</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="table-ROW"> تنظیمات</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td class="table-ROW"> تنظیمات</td>-->
            <!--</tr>-->
            <tr>
                <td style="padding-right:40px;">تنظیمات</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container1"
         style="background-color: #1c7430; width: 60%; margin: auto ; margin-top: -250px; margin-right: 0px; background-color: white; box-shadow: #1c7430 -2px 2px 5px 1px; margin-bottom: 100px;">
        <div class="row" style=";">
            <div class="column">
                <div class="card">
                    <img src="{% static 'prof4.jpg' %}" alt="Jane" style="">
                    <div class="container1" style="">
                        <h2>Jane Doe</h2>
                        <p class="title">CEO & Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p>
                            <button class="button"><a style="color: #FFFFFF"
                                                      href="{% url 'employee profile' %}">Contact</a></button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card" style="">
                    <img src="{% static 'prof3.jpg' %}" alt="Mike" style="">
                    <div class="container1" style=")">
                        <h2>Mike Ross</h2>
                        <p class="title">Art Director</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p>
                            <button class="button"><a style="color: #FFFFFF"
                                                      href="{% url 'employee profile' %}">Contact</a></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" style="text-align: center">
                    <img src="{% static 'prof3.jpg' %}" alt="John" style="">
                    <div class="container1">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p>
                            <button class="button"><a style="color: #FFFFFF"
                                                      href="{% url 'employee profile' %}">Contact</a></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="{% static 'prof4.jpg' %}" alt="John" style="">
                    <div class="container1">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p>
                            <button class="button"><a style="color: #FFFFFF"
                                                      href="{% url 'employer profile' %}">Contact</a></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="{% static 'prof4.jpg' %}" alt="John" style="">
                    <div class="container1">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p>
                            <button class="button"><a style="color: #FFFFFF"
                                                      href="{% url 'employer profile' %}">Contact</a></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="layout-all">-->
{#<div class="empty-along-inputs container"><div style="font-size: xx-small">.</div></div>#}


<!--</div>-->


<script>
    function widthControlling() {
        var x = document.getElementById("rightNavbar");
        var y = x.getElementsByTagName("li");
        var i;
        for (i = 0; i < y.length; i++) {
            y[i].style.marginRight = "2%";
            y[i].style.width = "96%";
        }
        var x = document.getElementById("leftNavbar");
        var y = x.getElementsByTagName("li");
        var i;
        for (i = 0; i < y.length; i++) {
            y[i].style.marginRight = "2%";
            y[i].style.width = "96%";
        }
        // document.getElementsByClassName("nav")[0].getElementsByTagName("li")[0].style.width = "100%";
    }
</script>
</body>
</html>
