


<!doctype html>
<html lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>


    <title>Amin Bahjati</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!------ Include the above in your HEAD tag ---------->
    <style>
        @media (max-width: 575px) {
            div#vii1 {
                order: 1;
            }

            div#vii2 {
                order: 2;
            }
        }
    </style>
</head>


<body>

<div class="container main-section">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 image-section">
            <img src="https://www.desktopbackground.org/p/2015/05/26/954182_auroras-wallpapers-archives-page-20-of-27-widewallpaper-info_1920x1080_h.jpg">
        </div>
        <div style="margin-top: 10px" class="col">
            <div class="row">
                <div id="vii2" class="col-lg-9 col-md-8 col-sm-7 col-xs-12 float-left">
                    <div style="margin-top: 20px" class="col-12 row profile-left-section">
                        <div class="col-12 profile-header-section1 float-right text-right">
                            <h1>تجربه‌ها</h1>
                            <div class="border"></div>
                        </div>
                        <div class="col-12 text-right" style="direction: rtl">
                            <ul>
                                <li>مدیر محصول، شرکت کوئرا، ۱۳۹۶ - الان</li>

                                <li>شرکت مهسان، ۱۳۹۴ - ۱۳۹۶</li>
                            </ul>
                        </div>
                    </div>
                    <div style="margin-top: 20px" class="col-12 row profile-left-section">
                        <div class="col-12 profile-header-section1 float-right text-right">
                            <h1>سوابق تحصیلی</h1>
                            <div class="border"></div>
                        </div>
                        <div class="col-12 text-right" style="direction: rtl">
                            <ul>
                                <li>دانشگاه صنعتی شریف، مقطع کارشناسی، ۱۳۹۵ - ۱۳۹۹</li>

                                <li>دبیرستان علامه حلی تهران، ۱۳۹۰ - ۱۳۹۵</li>
                                <li>راهنمای علامه حلی ۱ تهران، ۱۳۸۸ - ۱۳۹۰</li>

                            </ul>
                        </div>
                    </div>
                    <div style="margin-top: 20px" class="col-12 row profile-left-section">
                        <div class="col-12 profile-header-section1 float-right text-right">
                            <h1>درس‌های مهم</h1>
                            <div class="border"></div>
                        </div>
                        <div class="col-12 text-right" style="direction: rtl">
                            <div style="margin-right: 20px; margin-left: 20px"
                                 class="row border border-light  bg-light">
                                <div class="col-5">مهندسی نرم‌افزار</div>
                                <div class="col-5">دکتر حیدرنوری</div>
                                <div class="col-2">۲۰</div>
                            </div>
                            <div style="margin-right: 20px; margin-left: 20px" class="row border border-light">
                                <div class="col-5">آمار و احتمال مهندسی</div>
                                <div class="col-5">دکتر مطهری</div>
                                <div class="col-2">۱۶.۶</div>
                            </div>
                            <div style="margin-right: 20px; margin-left: 20px" class="row border border-light bg-light">
                                <div class="col-5">برنامه نویسی پیشرفته</div>
                                <div class="col-5">مهندس مظلومی</div>
                                <div class="col-2">۱۲.۲</div>
                            </div>
                            <div class="row border border-light" style="margin-right: 20px; margin-left: 20px">
                                <div class="col-5">مهندسی نرم‌افزار</div>
                                <div class="col-5">دکتر حیدرنوری</div>
                                <div class="col-2">۲۰</div>
                            </div>

                        </div>
                    </div>

                    <div style="margin-top: 20px" class="col-12 row profile-left-section">
                        <div class="col-12 profile-header-section1 float-right text-right">
                            <h1>افتخارات</h1>
                            <div class="border"></div>
                        </div>
                        <div class="col-12 text-right" style="direction: rtl">
                            <ul>
                                <li>نقره جهانی المپیاد ریاضی، ۲۰۱۵</li>
                                <li>طلای کشوری المپیاد کامپیوتر، ۱۳۹۴</li>
                                <li>طلای کشوری المپیاد ریاضی، ۱۳۹۳</li>
                            </ul>
                        </div>
                    </div>
                    <div style="margin-top: 20px" class="col-12 row profile-left-section">
                        <div class="col-12 profile-header-section1 float-right text-right">
                            <h1>مهارت‌ها</h1>
                            <div class="border"></div>
                        </div>
                        <div class="col-12 text-right" style="direction: rtl; font-size: 20px">
                            <div class="row small" style="margin-left: 10px">
                                <div style="text-align: center" class="btn-success col-lg-4 col-md-6">
                                    زبان فارسی: مادری
                                </div>
                                <div style="text-align: center" class="btn-light col-lg-4 col-md-6">
                                    Django: حرفه‌ای
                                </div>
                                <div style="text-align: center" class="btn-success col-lg-4 col-md-6">
                                    زبان عربی: پدری
                                </div>
                                <div style="text-align: center" class="btn-light col-lg-4 col-md-6">
                                    Node JS: مبتدی
                                </div>
                                <div style="text-align: center" class="btn-success col-lg-4 col-md-6">
                                    C++: مسلط
                                </div>
                                <div style="text-align: center" class="btn-light col-lg-4 col-md-6">
                                    روابط عمومی: بشدت بالا
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="vii1" class="col-lg-3 col-md-4 col-sm-5 col-xs-12 user-profile-part float-right">
                    <div class="row" style="background-color: #eff9f6">

                        <div class="col-md-12 col-sm-12 col-xs-12 user-image text-center" >
                            <img src="\{{ app_name }}{{ employee.image.url}}">



                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center follow">
                            <img src= "\{{ app_name }}{{ employee.image.url}}" >#}
                            <form action="{% url 'employee profile temp' "salam"%}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <input type="file" name="myfile">
                                <button type="submit">Upload</button>
                              </form>
                            <img src="https://www.desktopbackground.org/p/2015/05/26/954182_auroras-wallpapers-archives-page-20-of-27-widewallpaper-info_1920x1080_h.jpg">#}
                            <ul class="list-group text-center">
                                <li class="list-group-item border-success"><b>امین بهجتی</b></li>

                                <li class="list-group-item border-success small">دانشجوی کارشناسی مهندسی
                                    کامپیوتر
                                    {{ employee.name }}
                                </li>
                                <li class="list-group-item border-success small">amin.bahjati@gmail.com
                                </li>
                                <li class="list-group-item border-success small">09190066097</li>

                            </ul>
                            <button id="btn-contact" (click)="clearModal()"
                                    data-toggle="modal" data-target="#contact"
                                    style="margin-top: 10px"
                                    class="btn btn-outline-primary btn-sm btn-block">ارسال پیام
                            </button>

                            <button class="btn btn-outline-success btn-sm btn-block">دریافت رزومه</button>
                        </div>
                        <div class="col user-detail-row float-right" style="width: max-content">
                            <div class="col-md-12 col-sm-12 user-detail-section2 float-right"
                                 style="text-align: right">
                                <div class="border align-baseline"></div>
                                <ul style="direction: rtl; text-align: justify; margin-right: -30px; list-style-type: square; font-size: 12px">
                                    <li>عضو کمیته ملی المپیاد کامپیوتر</li>
                                    <li>دبیر تشکل جامعه اسلامی دانشجویان دانشگاه شریف</li>
                                    <li>مدرس ریاضی در مدارس راهنمایی</li>
                                </ul>
                                <div class="border align-baseline"></div>
                                <ul style="text-align: center; margin-right: -10px" class="list-inline">
                                    <li class="list-inline-item"><span style="font-size: 12px; color: white"
                                                                       class="badge badge-success"> بازاریابی</span>
                                    </li>
                                    <li class="list-inline-item"><span style="font-size: 12px; color: white"
                                                                       class="badge badge-success">آموزش ریاضی</span>
                                    </li>
                                    <li class="list-inline-item"><span style="font-size: 12px; color: white"
                                                                       class="badge badge-success">حل مسئله</span>
                                    </li>
                                    <li class="list-inline-item"><span style="font-size: 12px; color: white"
                                                                       class="badge badge-success">رمزنگاری</span>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{#        <div class="modal-content" style="direction: rtl">#}
{#            <div style="background-color: #dc3545" class="modal-header">#}
{#                <h5 class="modal-title" id="contact">ارسال پیام</h5>#}
{#                <button style="alignment: inherit" type="button" class="close float-left border-left" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">×</span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <div class="form-group">#}
{#                    <p for="msj">Se enviará este mensaje a la persona que desea contactar, indicando que te quieres#}
{#                        comunicar con el. Para esto debes de ingresar tu información personal.</p>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="txtFullname">Nombre completo</label>#}
{#                    <input type="text" id="txtFullname" class="form-control">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="txtEmail">Email</label>#}
{#                    <input type="text" id="txtEmail" class="form-control">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="txtPhone">Teléfono</label>#}
{#                    <input type="text" id="txtPhone" class="form-control">#}
{#                </div>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>#}
{#                <button type="button" class="btn btn-primary" (click)="openModal()" data-dismiss="modal">Guardar#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
</body>