<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>
<body>
<nav class="navbar navbar-fixed-top big-nav" >
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar" style="background-color: #337ab7"></span>
                <span class="icon-bar" style="background-color: #337ab7"></span>
                <span class="icon-bar" style="background-color: #337ab7"></span>
            </button>
            <div class="navbar-brand" >
                <img id="logo" src="{% static 'logo.png' %}">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" id="rightNavbar">
                <li class="active" id="homeButton"><a href="#">خانه</a></li>
                <li class="dropdown dropdown-links">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">صفحه یک<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-buttons"><a href="{% url 'edit_profile' %}">تست یک</a></li>
                        <li class="dropdown-buttons"><a href="#">تست دو</a></li>
                        <li class="dropdown-buttons"><a href="#">تست سه</a></li>
                    </ul>
                </li>
                <li class="dropdown-links"><a href="#">صفحه دو</a></li>
                <li class="dropdown-links"><a href="">صفحه سه</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left" id="leftNavbar" style="text-align: left;">
                <li class="log-in-button" style="" data-toggle="modal" data-target="#signIn"><a href="#" style=""><span class="glyphicon glyphicon-log-in"></span>
                    ورود</a></li>
                <li class="sign-up-button" style="" data-toggle="modal" data-target="#signUp"><a href="#" style="" id="sign-up-id"><span
                        class="glyphicon glyphicon-user"></span> ثبت نام</a></li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>


<table class="table">
{#  <thead>#}
{#    <tr>#}
{#      <th scope="col">#</th>#}
{#      <th scope="col">First</th>#}
{#      <th scope="col">Last</th>#}
{#      <th scope="col">Handle</th>#}
{#    </tr>#}
  </thead>
  <tbody>
    <tr>
        <th scope="row" align="middle"></th>
        <td align="middle">

            <!-- Button trigger sign in modal -->


            <!-- Modal -->
            <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="signInTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#employerSignIn">Employer</button>
                      <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#workseekerSignIn">Workseeker</button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

<!-- #############################################################################################################################-->
          <!-- Employer Sign In modal -->
            <div class="modal fade" id="employerSignIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="employerSignInTitle">Employer Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <form action="{% url 'Employer Sign In' %}" method="post">
                    {% csrf_token %}

                  <div class="modal-body">


                        <input type="text" name="username" id="username">
                        <label for="username"> "username" </label><br>

                        <input type="text" name="password" value="password" id="username">
                        <label for="password"> "password" </label><br>
                        <a href="{% url 'employee profile' %}">فراموشی رمز عبور</a>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <input type="submit" value="Sign In">

                  </div>
                  </form>
                </div>
              </div>
            </div>
<!-- #############################################################################################################################-->
            <!-- Work Seeker Sign In modal -->
            <div class="modal fade" id="workseekerSignIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="workseekerSignInTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <form action="{% url 'Employee Sign In' %}" method="post">
                    {% csrf_token %}

                  <div class="modal-body">


                        <input type="text" name="username" id="username">
                        <label for="username"> "username" </label><br>

                        <input type="text" name="password" value="password" id="username">
                        <label for="password"> "password" </label><br>
                        <a href="{% url 'employee profile' %}">فراموشی رمز عبور</a>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <input type="submit" value="Sign In">

                  </div>
                  </form>
                </div>
              </div>
            </div>

      </td>

<!-- #############################################################################################################################-->
<!-- #############################################################################################################################-->
<!-- #############################################################################################################################-->

      <td align="middle">
          <!-- Button trigger sign up modal -->

             <!-- Modal -->
{#                    -------------------------------------------------------------------------------------------#}
                    <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="signUpTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">

                            <form action="{% url 'get mail' 1%}" method="post"> {% csrf_token %}
                              <input type="submit" value="Employer">
                            </form>
                            <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#employeeSignUp">Employee</button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                          </div>
                        </div>
                      </div>
                    </div>

        <!-- #############################################################################################################################-->
                    <!-- Employee Sign Up modal -->
                    <div class="modal fade" id="employeeSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="employeeSignUpTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <form action="{% url 'Sign Up Employee' %}" method="post">
                            {% csrf_token %}

                          <div class="modal-body">


                                <input type="text" name="stdid" id="stdid" value= "ex:94109595">
                                <label for="stdid"> Student ID </label><br>


                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            <input type="submit" value="Sign In">

                          </div>
                          </form>
                        </div>
                      </div>
                    </div>

{#                    ----------------------------------------------------#}

<!-- #############################################################################################################################-->
          <!-- Employer Sign In modal -->
            <div class="modal fade" id="employerSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="employerSignUpTitle">Employer Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <form action="{% url 'Employer Sign In' %}" method="post">
                    {% csrf_token %}

                  <div class="modal-body">


                        <input type="text" name="username" id="username">
                        <label for="username"> "username" </label><br>

                        <input type="text" name="password" value="password" id="username">
                        <label for="password"> "password" </label><br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <input type="submit" value="Sign In">

                  </div>
                  </form>
                </div>
              </div>
            </div>
<!-- #############################################################################################################################-->
            <!-- Work Seeker Sign In modal -->
            <div class="modal fade" id="workseekerSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="workseekerSignUpTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <form action="{% url 'Employee Sign In' %}" method="post">
                    {% csrf_token %}

                  <div class="modal-body">


                        <input type="text" name="username" id="username">
                        <label for="username"> "username" </label><br>

                        <input type="text" name="password" value="password" id="username">
                        <label for="password"> "password" </label><br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <input type="submit" value="Sign In">

                  </div>
                  </form>
                </div>
              </div>
            </div>




      </td>
    </tr>

  </tbody>
</table>