@font-face {
    font-family: irWeb;
    src: url(../fonts/IRANSansWeb.ttf);
}
@font-face {
    font-family: irWebBold;
    src: url(../fonts/IRANSansWeb_Bold.ttf);
}
body{
    /*background-color: #A2F78C;*/
    font-family: irWeb;
    color: #2b5b1d;;
    background-image: linear-gradient(white, #A2F78C);
    /*background-image: linear-gradient(#A2F78C, #59BC27);*/
}
.big-nav{
    /*background-image: linear-gradient(#A2F78C, #59BC27);*/
    background-color: white;
    margin-top: -10px;
    padding-bottom: 10px;

    /*display: flex;*/
    /*position: fixed;*/
}
.navbar, .navbar-nav, .navbar-left, .navbar-right{
    font-family: irWeb;
}

.navbar-header{
    height: 100%;
    margin-top: 15px;
    /*background-color: #5a6268;*/
}
/*.navbar-header button:visited{*/
    /*transition-duration: 1s;*/
/*}*/

#myNavbar{
    height: 100%;
    /*width: 70%;*/
    /*background-color: #6f42c1;*/
    vertical-align: center;
    margin-top: 15px;
    font-size: 110%;

}

.navbar {
    /*margin-top: 10px;*/
    /*height: 500px;*/
}
.container-fluid{
    /*height: 80px;*/
}

.nav > li{
    width: 100%;
    float: right;
    text-align: right;
    /*background-color: inherit;*/
}

.nav > li > a:hover{
    font-family: irWebBold;
    /*background-color: inherit;*/
    border-radius: 5px;
    /*margin: 12px 12px 12px 12px;*/
    transition-duration: 1s;
    height: 42px;
}
.nav > li > a{
    color: #2b5b1d;
    background-color: inherit;
}
.dropdown-menu > li{
    margin-right: 3%;
    width: 94%;
    float: right;
    /*text-align: right;*/

}

.dropdown-menu > li > a:hover{
    border-radius: 4%;
    background-color: black;
    transition-duration: 0.5s;
}

.navbar-nav > li > .dropdown-menu{
    border-radius: 3px;
    background-color: #d4f4b5;
    /*background-color: #000000;*/
}
.dropdown-menu li{
    text-align: right;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: #bee2b3;
    font-family: irWebBold;
    border-radius: 5%;
    /*transition-duration: 15s;*/
}
.navbar-brand {
}


@media (min-width: 768px) {
    .big-nav{
        border-bottom: 2px solid #2b5b1d;
    }
    .nav > li {
        width: auto;
        /*margin-right: -15%;*/
    }

    #homeButton {
        margin-right: 30px;
    }

    .navbar-header {
        /*float: right;*/
        /*background-color: #337ab7;*/
        /*width: 20%;*/
    }

    #logo {
        width: 35%;
        margin-top: -2%;
        /*width: 40%;*/
        margin-left: 30%;
        /*margin-right: 20px;*/
        /*text-align: center;*/
        /*float: right;*/
    }

    .navbar-brand {
        /*width: 100%;*/
        /*margin-right: -10%;*/
        /*float: right;*/
    }

    #myNavbar {
        /*background-color: aqua;*/
        margin-right: -65px;
        float: right;
        width: 78%;
        margin-top: 40px;
    }

    .navbar-left > li {
        border-radius: 5px;
        height: 42px;
    }

    .sign-up-button {
        background-color: #1c7430;
        margin-right: 10px;
        color: white;
    }

    .log-in-button {
        border: #28a745 1px solid;
    }

    .navbar-left > li > a {
        /*margin-top: -15%;*/
        border-radius: 5px;
        height: 42px;
    }

    .navbar-left > li > a {
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        height: 42px;
    }

    .sign-up-button > a > span {
        /*border: #28a745 1px solid;*/
        margin-top: -5%;
        color: white;
    }

    .log-in-button > a {
        padding: 5px 10px 10px 10px;
    }

    #sign-up-id {
        color: white;
    }
    .carousel-container{
        width: 60%;
    }
    .item{
        width: 100%;
        height: 400px;
    }
    .item > img{
        width: 100%;
        height: 400px;

    }

}
@media (max-width: 767px) {
    #myNavbar{
        margin-top: 12%;
    }
    #logo{
        width: 35%;
        margin-top: -15px;
        margin-left: -5px;
        /*float: right;*/
    }
}





html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    box-shadow: 0px 0px 0px 0px;
    float: left;
    width: 33.33%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 8px;
    background-color: white;
}

.column {
    /*border: 1px solid #f4511e;*/
    /*border-radius:0 !important;*/
    transition: box-shadow 0.5s;
}

.column:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    text-align: center;
}

.card > img {
    border-radius: 50%;
    /*width: 200px;*/
    /*height: 200px;*/
    width: 70%;
    height: 70%;
}

.card > .container1{
    overflow: auto;

}

.container1 {
    padding: 0 16px;
}

.container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    /*width: 100%;*/
}

.button:hover {
    background-color: #555;
}